<p align="center">
    {{#if devoured}}
        {{id}}.
        {{burger_name}}

    {{else}}
        {{burger_name}}
        <button class="btn btn-danger change-devour" type="button" data-id="{{id}}">DEVOUR</button>
    {{/if}}

</p>
